<section class="services-section">
  <div class="service">
    <div class="icon-circle">
      <img src="assets/paint-roller.png" alt="Painting Service" class="service-icon">
    </div>
    <h3>Peinture</h3>
    <p>Nous transformons vos intérieurs et extérieurs avec une finition impeccable et des peintures de qualité supérieure</p>
  </div>
  <div class="service">
    <div class="icon-circle">
      <img src="assets/flash.png" alt="Painting Service" class="service-icon">
    </div>
    <h3>Electricité</h3>
    <p>Notre équipe d'électriciens certifiés offre une gamme complète de services électriques pour garantir la sécurité et l'efficacité de votre installation</p>
  </div>
  <div class="service">
    <div class="icon-circle">
      <img src="assets/windows.png" alt="Painting Service" class="service-icon">
    </div>
    <h3>Sol et murs</h3>
    <p>Notre gamme étendue de matériaux inclut parquet, carrelage, moquette, ainsi que des solutions innovantes pour les murs tels que le papier peint, la peinture décorative et le placoplâtre</p>
  </div>

  <div class="service">
    <div class="icon-circle">
      <img src="assets/faucet.png" alt="Painting Service" class="service-icon">
    </div>
    <h3>Plomberie</h3>
    <p>Nos plombiers qualifiés s'engagent à vous fournir des solutions durables pour toute installation ou réparation de plomberie ou installation précise de votre nouvelle salle de bain</p>
  </div>
  <!-- Add more services as needed -->
</section>
