.contact-info-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container {
  background-color: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.contact-container h1 {
  color: var(--second-color);
}

.contact-info {
  text-align: left;
  margin-top: 20px;
}

.contact-info span {
  font-weight: bold;
}

.contact-info a {
  color: var(--second-color);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
