.image-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.centered-image {
  max-width: 100%; /* This ensures the image is not larger than the container */
  max-height: 100vh; /* This limits the image height to the viewport */
  object-fit: cover; /* This will cover the area without stretching the image */
}
