<div class="content">
  <main>
    <section id="hero">
      <h2>Donnez vie à vos projets de rénovation</h2>
      <p>Qualité et professionnalisme à votre service.</p>
    </section>

    <section id="services" class="section-bg">
      <h2>Nos Services</h2>
      <a routerLink="/portfolio" class="nav-link">Portfolio</a>
    </section>

    <section id="about">
      <h2>À Propos de Nous</h2>
      <p>Spécialisés dans la rénovation complète de maisons, d'appartements et d'espaces commerciaux, nous nous
        consacrons à donner vie à vos visions et à transformer vos espaces de vie et de travail</p>
      <a routerLink="/contact" class="nav-link">Contact</a>
    </section>

  </main>
</div>
