
<div class="content">
<main>
    <section id="hero">
      <h2>Donnez vie à vos projets de rénovation</h2>
      <p>Qualité et professionnalisme à votre service.</p>
    </section>

    <section id="services" class="section-bg">
      <h2>Nos Services</h2>
    </section>

    <section id="about">
      <h2>À Propos de Nous</h2>
    </section>

    <section id="portfolio" class="section-bg">
      <h2>Notre Portfolio</h2>
    </section>

    <section id="contact">
      <h2>Contactez-Nous</h2>
    </section>
  </main>
</div>
