<div class="home-container">
  <div class="background-image-container">
    <main>
      <section class="white-text">
        <h2>Donnez vie à vos projets de rénovation</h2>
        <p>Spécialisés dans la rénovation complète de maisons, d'appartements et d'espaces commerciaux</p>
        <p>Qualité et professionnalisme à votre service.</p>
      </section>

      <app-service></app-service>

      <section class="white-text">
        <a routerLink="/contact" class="nav-link">Contact</a>
        <br><br>
      </section>

    </main>
  </div>
</div>
